/* # Widgets
----------- */

.sixtenpress-default-ui {
	box-sizing: border-box;

	input,
	select,
	img {
		max-width: 100% !important;
	}

	.media-modal-content {
		margin: 0 auto;
		max-width: 800px;
	}

	.media-frame-content {
		padding: 24px;
	}

	.media-frame-toolbar {
		left: 0;
	}
}

